# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/build

**/*.egg-info
**/*.so

.vscode/

plugins/supercollider/cmake_modules/cmake_install.cmake

plugins/supercollider/cmake_modules/CMakeCache.txt

plugins/supercollider/cmake_modules/CMakeFiles/3.26.3/CMakeCCompiler.cmake

plugins/supercollider/cmake_modules/CMakeFiles/3.26.3/CMakeCXXCompiler.cmake

plugins/supercollider/cmake_modules/CMakeFiles/3.26.3/CMakeDetermineCompilerABI_C.bin

plugins/supercollider/cmake_modules/CMakeFiles/3.26.3/CMakeDetermineCompilerABI_CXX.bin

plugins/supercollider/cmake_modules/CMakeFiles/3.26.3/CMakeSystem.cmake

plugins/supercollider/cmake_modules/CMakeFiles/3.26.3/CompilerIdC/CMakeCCompilerId.c

plugins/supercollider/cmake_modules/CMakeFiles/3.26.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_scsynth.dir/build.make

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_scsynth.dir/cmake_clean.cmake

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_scsynth.dir/compiler_depend.make

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_scsynth.dir/compiler_depend.ts

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_scsynth.dir/depend.make

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_scsynth.dir/DependInfo.cmake

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_scsynth.dir/flags.make

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_scsynth.dir/link.txt

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_scsynth.dir/progress.make

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_supernova.dir/build.make

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_supernova.dir/cmake_clean.cmake

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_supernova.dir/compiler_depend.make

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_supernova.dir/compiler_depend.ts

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_supernova.dir/depend.make

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_supernova.dir/DependInfo.cmake

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_supernova.dir/flags.make

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_supernova.dir/link.txt

plugins/supercollider/cmake_modules/CMakeFiles/CccRPC_supernova.dir/progress.make

plugins/supercollider/cmake_modules/CMakeFiles/cmake.check_cache

plugins/supercollider/cmake_modules/CMakeFiles/CMakeConfigureLog.yaml

plugins/supercollider/cmake_modules/CMakeFiles/CMakeDirectoryInformation.cmake

plugins/supercollider/cmake_modules/CMakeFiles/Makefile.cmake

plugins/supercollider/cmake_modules/CMakeFiles/Makefile2

plugins/supercollider/cmake_modules/CMakeFiles/progress.marks

plugins/supercollider/cmake_modules/CMakeFiles/TargetDirectories.txt

plugins/supercollider/cmake_modules/Makefile
